* {
  font-family: 'Product Sans', sans-serif;
}


body {
  background-color: #eeeeee;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}


header {
  background-color: #222;
  color: white;
  text-align: center;
  padding: 1rem;
}

.index__password--svg{
  scale: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 4rem;
}

.header_content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.PassFraze__main {
  display: flex;
  align-items: center;
  margin-right: 50px;
}

.PassFraze__main:hover {
  opacity: 0.95;
}

.header_content h1 {
  margin: 0;
}

.header_content h1 a {
  color: white;
  text-decoration: none;
  transition: opacity 0.3s ease;
}

main {
  padding: 0;
}

.about__subtitle__with--image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -10px;
}

.about__subtitle__with--image img {
  margin: 13px;
}

.button_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5vh;
}

.about_section img {
  width: 40px;
}

.faq_section,
.about_section {
  max-width: 700px;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: #fff;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba
}

button {
  display:inline-block;
  outline: 0;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  text-decoration: none;
  color: white;
  background: radial-gradient( 100% 100% at 100% 0%, #74cc77 0%, #4CAF50 100% );
  box-shadow: 0px 2px 4px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px rgba(58, 111, 62, 0.5);
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  padding: 2rem 2rem;
  margin: 0.5rem 0.5rem;
  text-align: center;
  text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
  transition: box-shadow 0.2s ease,transform 0.2s ease;
  will-change: box-shadow,transform;
}

button:hover{
  box-shadow: 0px 4px 8px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px rgba(30, 70, 33, 0.5);
  transform: translateY(-2px);
}

button:active {
  transform: translateY(1px);
}

nav {
  display: flex;
}

.header_buttons {
  display: inline-block;
  background: radial-gradient( 100% 100% at 100% 0%, #3ed2ff 0%, #00c3ff 100% );
  box-shadow: 0px 2px 4px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px rgba(58, 100, 111, 0.5);
  color: white;
  text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
  font-size: 18px;
  text-decoration: none;
  outline: 0;
  border: none;
  padding: 0.5rem 3rem;
  padding-left: 2.4rem;
  margin: 0.5rem 0.5rem;
  display: inline-block;
  cursor: pointer;
  border-radius: 5px;
  width: 35px;
  transition: box-shadow 0.2s ease,transform 0.2s ease;
  will-change: box-shadow,transform;
}

.header_buttons:hover {
  box-shadow: 0px 4px 8px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px rgba(58, 107, 111, 0.5);
  transform: translateY(-2px);
}

.header_buttons:active {
  box-shadow: inset 0px 3px 7px #75dbe9;
  transform: translateY(1px);
}

.header_button_3 {
  display: inline-block;
  background: radial-gradient( 100% 100% at 100% 0%, #74cc77 0%, #4CAF50 100% );
  box-shadow: 0px 2px 4px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px rgba(58, 111, 62, 0.5);
  color: white;
  text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
  font-size: 18px;
  text-decoration: none;
  outline: 0;
  border: none;
  padding: 0.5rem 3rem;
  padding-left: 2.4rem;
  margin: 0.5rem 0.5rem;
  display: inline-block;
  cursor: pointer;
  border-radius: 5px;
  width: 35px;
  transition: box-shadow 0.2s ease,transform 0.2s ease;
  will-change: box-shadow,transform;
}

.header_button_3:hover {
  box-shadow: 0px 4px 8px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px rgba(58, 111, 62, 0.5);
  transform: translateY(-2px);
}

.header_button_3:active {
  box-shadow: inset 0px 3px 7px rgb(126, 197, 130);
  transform: translateY(1px);
}

.submit--button{
  display:inline-block;
  outline: 0;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  text-decoration: none;
  color: white;
  background: radial-gradient( 100% 100% at 100% 0%, #F78125 0%, #e8600a 100% );
  box-shadow: 0px 2px 4px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px rgba(111, 94, 58, 0.5);
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  padding: 1rem 2rem;
  margin: 0.5rem 0.5rem;
  text-align: center;
  text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
  transition: box-shadow 0.2s ease,transform 0.2s ease;
  will-change: box-shadow,transform;
}

.navigate_buttons{
  width: 234px;
}

.password__generate__options--container{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

.password__test--center{
  max-width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.password__test__options--container,
.input__box{
  display: flex;
  justify-content: center;
  align-items: center;
}

.input__box:focus{
  outline: none;
  border: 1px solid #007c89;
  box-shadow: inset 0 0 0 1px #007c89;
}

.input__box{
  scale: 150%;
}

.password__crack--info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.password--submit{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
  scale: 100%;
}

#length{
  width: 50px;
  font-size: 18px;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--form-background);
  margin: 0;

  font: inherit;
  color: currentColor;
  width: 1em;
  height: 1em;
  border: 0.1em solid currentColor;
  border-radius: 0.15em;

  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  box-shadow: inset 1em 1em var(--form-control-color);
  transform: scale(0);
  background-color: CanvasText;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

input[type="checkbox"]:disabled {
  --form-control-color: var(--form-control-disabled);

  color: var(--form-control-disabled);
}

.password__option{
  display: flex;
  align-items: center;
}

.password__generate--body{
  justify-content: center;
  align-items: center;
  height: 100%;
}

.index--h1{
  display: flex;
  justify-content: center;
  align-items: center;
}

.password__body--h1,
.password__result{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.password__result{
  margin: 10px auto;
  max-width: 1000px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  word-break: break-all;
}

.password__utility--info{
  font-size: 25px;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: -15px;
}

#results {
  margin-top: 2rem;
}

#result {
  font-size: 1.2rem;
  font-weight: bold;
}

@keyframes fadeInOut {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

#loadingMessage {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeInOut 1.5s linear infinite;
}

#loadingMessage.show {
  display: block;
}

.password__submit--animation {
  display: flex;
  align-items: center;
  justify-content: center;
}