body {
  background-color: #eeeeee;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #222;
  color: white;
  text-align: center;
  padding: 1rem;
}

.header_content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.PassFraze__main {
  display: flex;
  align-items: center;
  margin-right: 50px;
}

.header_content h1 {
  margin: 0;
}

.header_content h1 a {
  color: white;
  text-decoration: none;
  transition: opacity 0.3s ease;
}

.header_content h1 a:hover {
  opacity: 0.8;
}

main {
  padding: 3rem;
}

.button_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5vh;
}

.about_section {
  max-width: 700px;
  margin: 0 auto;
  background-color: #fff;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba
}

.about_section img {
  width: 40px;
}

button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  margin: 0.5rem 0.5rem;
  cursor: pointer;
  border-radius: 5px;
}

nav {
  display: flex;
}

.header_buttons {
  background-color: #00c3ff;
  border: none;
  color: white;
  padding: 0.5rem 3rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.8rem;
  margin: 0.5rem 0.5rem;
  cursor: pointer;
  border-radius: 5px;
  width: 35px;
}

.header_buttons:hover {
  background-color: #17b1e0;
}

.header_button_3 {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 0.5rem 3rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.8rem;
  margin: 0.5rem 0.5rem;
  cursor: pointer;
  border-radius: 5px;
}

.navigate_buttons{
  width: 234px;
}

.header_button_3:hover {
  background-color: #45a049;
}

button:hover {
  background-color: #45a049;
}

.password__generate__options--container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 1%;
}

.password__test--center{
  max-width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

}

.password__test__options--container,
.input__box{
  display: flex;
  justify-content: center;
  align-items: center;
}

.input__box{
  scale: 150%;
}

.password__crack--info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.password__submit{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
  scale: 90%;
}

.password__option{
  display: flex;
  align-items: center;
}

.password__generate--body{
  justify-content: center;
  align-items: center;
  height: 100%;
}

.password__body--h1,
.password__result{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.password__result{
  margin: 10px auto;
  max-width: 1000px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  word-break: break-all;
}

#results {
  margin-top: 2rem;
}

#result {
  font-size: 1.2rem;
  font-weight: bold;
}