<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About PassFraze</title>
    <link rel="stylesheet" href="gui/style.css">
</head>
<body>
    <header>
        <div class="header_content">
            <div class="PassFraze__main"><h1><a href="/">PassFraze</a></h1></div>
            <nav>
                <a href="/about" class="header_buttons">About</a>
                <a href="/faq" class="header_buttons">FAQ</a>
                <a href="/" class="header_button_3">Home</a>
            </nav>
        </div>
    </header>
    <main>
        <section class="about_section">
            <h1 style="text-align: center; font-size: 2rem;">About PassFraze</h1>
            <p>Welcome to PassFraze, your go-to 4-in-1 password utility tool for 
                all your password needs. Whether you're safeguarding your 
                personal accounts or fortifying your business's digital assets, 
                PassFraze is your reliable companion in the realm of passwords.</p>
            <h1 style="text-align: left; font-size: 1.45rem;">Four Essential Capabilities</h1>
            <img src="gui/four.svg">
            <h1 style="text-align: left; font-size: 1.15rem;">1. Password Generation</h1>
            <p>Create robust, complex passwords effortlessly with PassFraze's 
                advanced password generator. Tailor-made with your preferences for both personal 
                and business use, our generator ensures that your accounts 
                remain impervious to unauthorized access.</p>
            <h1 style="text-align: left; font-size: 1.15rem;">2. Password Strength Testing</h1>
            <p>Evaluate the potency of your existing passwords with our strength testing feature. 
                PassFraze provides insights into the effectiveness of your passwords, 
                empowering you to make necessary adjustments for heightened security.</p>
            <h1 style="text-align: left; font-size: 1.15rem;">3. Password Cracking</h1>
            <p>In the event of forgotten passwords or the need for retrieval, PassFraze offers 
                a secure password cracking mechanism. This feature, designed with stringent
                 ethical guidelines, assists in regaining access to your 
                 accounts without compromising security.</p>
            <h1 style="text-align: left; font-size: 1.15rem;">4. Encrypted Password Storage</h1>
            <p>Rest easy knowing that PassFraze employs cutting-edge encryption 
                techniques to safeguard your passwords locally on your device. 
                Your sensitive information is shielded from prying eyes, providing 
                you with peace of mind.</p>
            <h1 style="text-align: left; font-size: 1.45rem;">Uncompromising security</h1>
            <p>We take security seriously. PassFraze employs state-of-the-art encryption 
                protocols to ensure that your passwords remain confidential and secure on your 
                device. You can trust PassFraze to be your fortress against cyber threats.</p>
            <h1 style="text-align: left; font-size: 1.45rem;">Powered by Python</h1>
            <p>PassFraze leverages the power of Python, a renowned programming 
                language known for its efficiency and security. This ensures that our 
                tool operates seamlessly, providing you with a reliable and stable 
                experience.</p>
        </section>
    </main>
</body>
</html>
