<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About PassFraze</title>
    <link rel="stylesheet" href="gui/style.css">
</head>
<body>
    <header>
        <div class="header_content">
            <div class="PassFraze__main"><h1><a href="/">PassFraze</a></h1></div>
            <nav>
                <a href="/about" class="header_buttons">About</a>
                <a href="/faq" class="header_buttons">FAQ</a>
                <a href="/" class="header_button_3">Home</a>
            </nav>
        </div>
    </header>
    <main>
        <section class="faq_section">
            <b><p>How much does the PassFraze utility cost?</p></b>
            <p>PassFraze has and will always be a free to use platform. Our mission is to assist users of all kinds to protect themselves on the internet.</p>
            <b><p>Is PassFraze secure?</p></b>
            <p>Yes, PassFraze employs encryption techniques within a local-host server to ensure the security and privacy of user data.</p>
            <b><p>Does PassFraze store my data?</p></b>
            <p>Never. PassFraze is a utility usable by users without creating an account of any sort. Additionally, your passwords are fully encrypted and are stored locally on your device, making it unaccessible to anyone else.</p>
            <b><p>How often does PassFraze receive updates and new features?</p></b>
            <p>This is a project that the programmer has designed to enhance scripting skills. Being passionate about this project, updates can be expected on a consistent basis.</p>
        </section>
    </main>
</body>
</html>
