<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PassFraze</title>
    <link rel="stylesheet" href="gui/style.css">
    <script src="../gui/main.js" defer></script>
</head>
<body>
    <header>
        <div class="header_content">
            <h1><a href="/">PassFraze</a></h1>
            <nav>
                <a href="/about" class="header_buttons">About</a>
                <a href="/faq" class="header_buttons">FAQ</a>
            </nav>
        </div>
    </header>
        <div class="button_container">
            <section id="buttons">
                <button id="navigate_generate">Password Generator</button>
                <button id="navigate_test">Test Password Strength</button>
                <button id="navigate_crack">Crack Password</button>
                <!--<button id="generate">Generate Password</button>
                <button id="test">Test Password Strength</button>
                <button id="crack">Crack Password</button> -->
            </section>
        </div>
    </main>
</body>
</html>
